
html {
  box-sizing: border-box;
}


body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 200px;
}

h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
.contents {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.contents1 {
  text-align: right;
  padding: 30px;
  font-size: 60px;
}
h3 {
  margin-bottom: 0;

}

h4 {
  font-size: 20px;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* head */
header {
  background: #2F3061;
  color: #fff7f7;
}


/* books
------------------------------------*/

.books .btn {
  color: #F7FFF7;
  background: #2F3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  font-size: auto;
}
.books .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.Image-lib {
  overflow: hidden;
}
.Image-lib h3 {
  margin-top: 0;
}


  header {
    text-align: center;
  }
  
  footer {
    background: #343434;
    color: #F7FFF7;
    text-align: center;
  }

  .Image-lib img {
    float: left;
    margin-right: 20px;
  }




